/* scroll.css */

/* চলন্ত আইটেমের জন্য স্টাইল, যা JS দ্বারা তৈরি হবে */
.scrolling-item {
    display: flex;
    align-items: center;
    position: absolute;
    /* JS এর মাধ্যমে অবস্থান নিয়ন্ত্রণের জন্য */
    height: 100%;
    width: max-content;
    /* কন্টেন্ট অনুযায়ী প্রস্থ */
}

/* চলন্ত আইটেমের ভেতরের শিরোনামের স্টাইল */
.scrolling-header {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    flex-shrink: 0;
}

/* চলন্ত আইটেমের ভেতরের বিবরণের স্টাইল */
.scrolling-details {
    padding-left: 1rem;
    white-space: nowrap;
    color: #e2e8f0;
    /* slate-200 */
}

/* বাম পাশে স্থিরভাবে দেখানো শিরোনামের জন্য স্টাইল */
#fixed-notice {
    background-color: rgba(30, 41, 59, 0.95);
    /* bg-slate-800 with opacity */
    border-right: 1px solid #334155;
    /* border-slate-700 */
}

/* শিরোনামের জন্য ফোকাস অ্যানিমেশন */
.focus-title {
    animation: focus 2s ease-in-out infinite;
    display: inline-block;
}

@keyframes focus {

    0%,
    100% {
        color: #facc15;
        transform: scale(1);
    }

    50% {
        color: #f87171;
        transform: scale(1.05);
    }
}