/* Student ID Card Design */
.student-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    gap: 1rem;
    padding: 10px;
    justify-items: center;
}

.id-card {
    width: 370px;
    height: 230px;
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 15px;
    padding: 0 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    font-family: 'Hind Siliguri', sans-serif;
    overflow: hidden;
    border-top: 5px solid #ff062386;
    background-image: url('../images/card.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: .65em;
    border-bottom: 2px solid green;
    padding-bottom: .65em;
    flex-shrink: 0;
}

.card-header .logo {
    width: 60px;
    height: 50px;
    position: relative;
    top: 6px;
    left: 2rem;
}

.card-header .header-text {
    text-align: right;
    line-height: 1.3;
}


.card-header .header-text p {
    font-size: 12px;
    color: #ffffff;
    margin: 0;
    display: inline-block;
    /* float: right;
    clear: right; */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.card-header .header-text h2 {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    display: inline-block;
    background: none;
    padding: 0;
    border: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.card-body {
    display: flex;
    align-items: flex-start;
}

.photo-section {
    margin-right: 20px;
    flex-shrink: 0;
    justify-content: center;
}

.student-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #e0f2f1;
    margin-bottom: 0;
    object-position: top center;
}

.id-number {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
    margin-top: 0;
}

.info-section h3 {
    white-space: nowrap;
    font-size: 1em;
    font-weight: bold;
    color: #000;
    margin-top: 0;
    margin-bottom: 10px;
}

.info-section p {
    margin: 2px 0;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
}

.info-section p strong {
    color: #008952;
    min-width: 4rem;
    display: inline-block;
}